# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

# Yarn 2
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches
!.yarnrc.yml
!.yarn/install-state.gz

# Ignore Yarn cache if not using Zero-Installs
.yarn/cache/

# Node modules
node_modules/

# PnP files (if using PnP)
.pnp.cjs
.pnp.loader.mjs
